#calculator-content{
    position: fixed;
    width: 300px;
    border: solid black;
    border-radius: 10px;
    background: grey;
    margin-top: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

    input[type=button]{
        background: lightgrey;
        width:60px;
        font-size: 20px;
        font-weight: 1000;
        margin: 6px;
        border-radius: 10px;
		cursor: pointer;
    }

    input[type=text]{
        position: static;
        display: block;
        border: 2px solid black;
        border-radius: 10px;
        width: 90%;
        height: 70px;
        margin: 15px auto;
        font-size: 25px;
        font-family: "Monaco";
        font-weight:550;
        background: cyan;
        color: black;
        text-align:right;
    }
	
	#clearScreen, #noInput {
            display: none;
            position: fixed;
            top: 22%;
            left: 50%;
            transform: translate(-50%, -50%);         		
			border-radius: 10px;
			width: 90%;
			height: 50px;
			margin: 15px auto;
			font-size: 25px;
			font-family: "Monaco";
			font-weight:550;
			background: cyan;
			color: black;
        }